.activity{
  h2{
    font-size: 12px;
    color: #bbb;
}
p{
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}
  img{
    height: 20px;
    display: inline-block;

  }
}
.pushEvent{
  border-bottom: 1px solid #DDD;
}
.blue{
  color: #4078c0;
}
