.inactive{
  display: none;
}


.repos{
  background-color: lightblue;
  height: 300px;

}

.contributions{
  background-color: lightyellow;
  height: 300px;
}

.activity{
  background-color: lightpink;
  height: 300px;
}
