nav {
  font-family: 'octicons';
  background-color: #F5F5F5;
  border-bottom: #E5E5E5 solid 1px; }
  nav .wrapper {
    margin: 0 auto;
    margin-top: -1%;
    width: 80%;
    display: flex;
    align-items: center; }
    nav .wrapper .logo {
      width: 5%; }
    nav .wrapper input {
      width: 30%;
      height: 20px; }
    nav .wrapper ul {
      width: 20%; }
      nav .wrapper ul li {
        display: inline-block;
        padding-right: 2%;
        font-size: 13px;
        font-weight: bold; }

.navLast {
  flex: 2;
  display: flex;
  justify-content: flex-end; }
  .navLast .createNew {
    flex: 0;
    display: flex;
    padding-right: 2%; }
  .navLast .navProfile {
    flex: 0;
    display: flex; }
    .navLast .navProfile img {
      height: 20px; }

.wrapperBody {
  font-family: 'octicons';
  display: flex;
  margin: 0 auto;
  width: 80%;
  margin-top: 2%; }
  .wrapperBody aside {
    flex: 1;
    display: flex;
    flex-flow: column; }
    .wrapperBody aside .profileHolder {
      display: flex;
      flex-flow: column; }
      .wrapperBody aside .profileHolder img {
        width: 230px;
        height: 230px;
        border-radius: 2%; }
      .wrapperBody aside .profileHolder p {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        color: #666; }
      .wrapperBody aside .profileHolder .joined {
        border-top: 1px #e5e5e5 solid;
        padding-top: 3%;
        width: 85%;
        margin-top: -1%;
        font-size: 13px;
        color: #333; }
    .wrapperBody aside .followersContainer {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      width: 85%;
      border-top: 1px #e5e5e5 solid; }
      .wrapperBody aside .followersContainer h3 {
        color: #4078C0;
        font-weight: bold;
        font-size: 25px; }
        .wrapperBody aside .followersContainer h3 p {
          font-size: 11px;
          margin: 0 auto;
          margin-left: -36%;
          color: #787878;
          font-weight: 100; }
          .wrapperBody aside .followersContainer h3 p:hover {
            color: #4078C0; }
  .wrapperBody section {
    flex: 3; }

.inactive {
  display: none; }

.contributions {
  background-color: lightyellow;
  height: 300px; }

.sectionNav {
  background-color: white;
  padding-bottom: 1.9%;
  border-bottom: 1px #DDD solid;
  margin-bottom: 1%; }
  .sectionNav a {
    text-decoration: none;
    color: #3C3C3C;
    padding: 2%;
    font-size: 14px;
    border-radius: 4%; }
    .sectionNav a span {
      padding-right: .4%; }

.active {
  border-bottom: solid white 2px;
  border-top: 1px #DDD solid;
  border-left: 1px #DDD solid;
  border-right: 1px solid #DDD; }

.repos .findRepos {
  border-bottom: 1px solid #DDD;
  display: flex; }
  .repos .findRepos .inputs {
    flex: 1;
    display: flex;
    align-items: center; }
    .repos .findRepos .inputs input[type='text'] {
      width: 75%;
      padding: 3%;
      font-size: 13px;
      color: #333;
      border: 1px solid #ccc;
      border-radius: 3px; }
    .repos .findRepos .inputs input[type="submit"] {
      margin-left: 8px;
      background-color: #eee;
      border: 1px solid #d5d5d5;
      font-size: 13px;
      font-weight: bold;
      line-height: 20px;
      border-radius: 4px; }
  .repos .findRepos ul {
    flex: 2;
    display: flex; }
    .repos .findRepos ul li {
      flex: 1;
      list-style: none;
      color: #4078c0;
      font-size: 14px;
      margin-right: 3%; }
      .repos .findRepos ul li:hover {
        text-decoration: underline;
        cursor: pointer; }
    .repos .findRepos ul a {
      padding: 8%;
      text-decoration: none;
      color: #fff;
      background-color: #60b044;
      background-image: -webkit-linear-gradient(#8add6d, #60b044);
      background-image: -o-linear-gradient(#8add6d, #60b044);
      background-image: linear-gradient(#8add6d, #60b044);
      border-color: #5ca941;
      border-radius: 3px;
      border: 1px solid #5ca941; }
      .repos .findRepos ul a span {
        padding-right: 7%; }

.activity h2 {
  font-size: 12px;
  color: #bbb; }

.activity p {
  font-size: 14px;
  font-weight: bold;
  display: inline-block; }

.activity img {
  height: 20px;
  display: inline-block; }

.pushEvent {
  border-bottom: 1px solid #DDD; }

.blue {
  color: #4078c0; }
